*
{
        box-sizing: border-box;
    
}
.body
{
    margin:0;
}
.container
{
    height: 100vh;
}
.navbar
{
    height: 15vh;
    background-color:#34495e;
    display: flex;
}
.grid
{
    height: 85vh;
    background-color:#dfe4ea;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.filters,.action-buttons
{
    height: 50%;
    background-color:#636e72;
    display: flex;
    margin-left: 25rem;
    margin-top:calc( ( 25 / 100 ) * 15vh );
}
.filters
{
    width: 20%;
    
}
.action-buttons
{
    width:10%;
}
.filter
{
    height: 100%;
    width: 25%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter div
{
    height: 80%;
    width: 80%;
    border-radius: 5px;

    
}
.filter:hover
{
    background-color:#95a5a6;
}
.pink
{
    background-color: palevioletred
}
.green
{
  background-color:#16a085;  
}
.black
{
    background-color: black;
}
.blue
{
    background-color:#3498db;
}
.add,.delete
{
    
    height: 100%;
    width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;

}
.add:hover,
.delete:hover
{
    background-color:#95a5a6;  
}
.delete-select,.filter-select
{
    background-color:#95a5a6;
}
.material-icons
{
    font-size: 3rem !important;
   
}

.modal
{
    height: 20rem;
    width: 30rem;
    
    background-color:#d2dae2;
    position:fixed;
    top:20rem;
    left:50%;
    transform: translateX(-50%);
    display: flex;
}
.text-section
{
    width: 75%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-inner-container
{
    
    height: 80%;
    width:80%;
    background-color: #f7f1e3;
    outline:none;
    overflow:auto;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.priority-section
{
    width:25%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#34495e;
}
.priority-inner-container
{
    background-color:#d2dae2;
    height: 90%;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly; 

}
.modal-priority
{
    height: 22%;
    width:90%;
  
}
.modal-priority:hover
{
    border:5px solid #eccc68;    
}
.selected
{
    border:5px solid #eccc68;   
}
.ticket
{
    height: 15rem;
    width: 20rem;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px;

}
.ticket-color
{
    height: 8%;
    
}
.ticket-id
{
    height:12% ;
    background-color:#ced6e0 ;
    padding:5px;
    font-weight: 100;
}
.actual-task
{   
    height: 80%;
    background-color:#f1f2f6;
    padding: 5px;
    font-size: 3rem;
    outline: none;
    overflow: auto;
}
